################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CommandLine.DNC/v15/Server/sqlite3
/obj
/bin/Debug/netcoreapp2.1
/.vs/CommandLine.DNC/v15
