################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CommandLine.DNC/v15/Server/sqlite3
